master/pipeline/Unzip 7z file to Blob.json
{
	"name": "Unzip 7z file to Blob",
	"properties": {
		"activities": [
			{
				"name": "WebHook",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "Set variable of unzip foldername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"url": "https://73b5abb6-b245-4036-a400-b70e2ee719cd.webhook.ne.azure-automation.net/webhooks?token=ZwpD11G%2bYIvPMIRvaVwt8dZcV%2bHf1Tq7m2hYT9Owlik%3d",
					"method": "POST",
					"body": {
						"value": "@json(\nconcat(\n'\n{\n\"connectionName\":\"',variables('varConnectionName'),'\",\"storageAccountKey\":\"',variables('storageAccountKey'),'\",\"fileName\":\"',variables('fileName'),'\"\n,\"zipfolder\":\"',variables('zipfolder'),'\"\n,\"Unzipfolder\":\"',variables('Unzipfolder'),'\"\n,\"extractfolder\":\"',variables('extractfolder'),'\"\n}'))",
						"type": "Expression"
					},
					"timeout": "00:10:00",
					"reportStatusOnCallBack": true
				}
			},
			{
				"name": "Copy Zip file to ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Datatest/"
					},
					{
						"name": "Destination",
						"value": "tec-zip//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": false
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "ZipFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "UnzipFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata of Zip File",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy Zip file to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ZipFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureDataLakeStoreReadSettings",
						"recursive": true,
						"wildcardFolderPath": "Datatest",
						"wildcardFileName": "*.7z"
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter 7z files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata of Zip File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of Zip File').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.7z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable of zip file name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter 7z files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@string(activity('Filter 7z files').output.value[0].name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable of zip folder name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable of zip file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "zipfolder",
					"value": {
						"value": "@activity('Get Metadata of Zip File').output.itemName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable of unzip foldername",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable of zip folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Unzipfolder",
					"value": {
						"value": "@activity('Get Metadata of Zip File').output.itemName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varConnectionName": {
				"type": "String",
				"defaultValue": "AzureRunAsConnection"
			},
			"storageAccountKey": {
				"type": "String",
				"defaultValue": " YDuDqj7C2A+fWSpmuibYXlDAsVRyIXQpgZcCtm23kUEFTsYFMvZbxhUmBHmbgHEeNcCmukz6O1Iji7H6deZPiw=="
			},
			"fileName": {
				"type": "String",
				"defaultValue": "TECValidation.7z"
			},
			"zipfolder": {
				"type": "String",
				"defaultValue": "tec-zip"
			},
			"Unzipfolder": {
				"type": "String",
				"defaultValue": "tec-unzip"
			},
			"extractfolder": {
				"type": "String",
				"defaultValue": "7Zfiles"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}