master/pipeline/Unzip 7z file to Blob.json
{
	"name": "Unzip 7z file to Blob",
	"properties": {
		"activities": [
			{
				"name": "WebHook1",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"url": "https://s9events.azure-automation.net/webhooks?token=%2f6DFHmAlp1IwMj7RMctho5kkedwacMpWbMbrIoorOGo%3d",
					"method": "POST",
					"body": {
						"value": "@json(\nconcat(\n'\n{\n\"connectionName\":\"',variables('varConnectionName'),'\",\"storageAccountKey\":\"',variables('storageAccountKey'),'\",\"fileName\":\"',variables('fileName'),'\"\n,\"zipfolder\":\"',variables('zipfolder'),'\"\n,\"Unzipfolder\":\"',variables('Unzipfolder'),'\"\n}'))",
						"type": "Expression"
					},
					"timeout": "00:10:00",
					"reportStatusOnCallBack": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Datatest/"
					},
					{
						"name": "Destination",
						"value": "tec-zip//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@addhours(adddays(utcnow(),-5),-12)",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@adddays(utcnow(),-5)",
								"type": "Expression"
							},
							"wildcardFolderPath": "Datatest",
							"wildcardFileName": "*.7z"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Binary7",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Binary5",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary7",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureDataLakeStoreReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@addhours(adddays(utcnow(),-5),-12)",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@adddays(utcnow(),-5)",
							"type": "Expression"
						},
						"wildcardFolderPath": "Datatest",
						"wildcardFileName": "*.7z"
					}
				}
			},
			{
				"name": "Filter2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.7z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@string(activity('Filter2').output.value[0].name)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varConnectionName": {
				"type": "String",
				"defaultValue": "AzureRunAsConnection"
			},
			"storageAccountKey": {
				"type": "String",
				"defaultValue": "anN7Z4SYBJARaT6MtMKJe9j/POX0jE4KRt757I1lHGntJvsOBoKp5xuW4+zuTyYgUcTyZjB3Bf+pGVJpEiET2w=="
			},
			"fileName": {
				"type": "String",
				"defaultValue": "TECValidation.7z"
			},
			"zipfolder": {
				"type": "String",
				"defaultValue": "tec-zip"
			},
			"Unzipfolder": {
				"type": "String",
				"defaultValue": "tec-unzip"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}