adfpcrmdev01/PartialArmTemplates/ArmTemplate_8_17_2020_22_3_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpcrmdev01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CODA_File_SQL_TecDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipeline_CODAIntegration",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "binary_CODAFile",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "binary_CODAcsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "dataflowtoSplitCodaFile",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "pipeline_CODAIntegration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowtosplitcodafile",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "Copy SQL Join to CODA Integration",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dataflowtoSplitCodaFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\nNEWID() AS GUID,\nZero.RecordIdentification AS Zero_RecordIdentification,\nZero.CreationDate AS Zero_CreationDate,\nZero.BankIdentificationNumber AS Zero_BankIdentificationNumber,\nZero.ApplicationCode AS Zero_ApplicationCode,\nZero.Duplicate AS Zero_Duplicate,\nZero.FileReference AS Zero_FileReference,\nZero.NameAddressee AS Zero_NameAddressee,\nZero.BIC AS Zero_BIC,\nZero.IdentificationNumberofBelgium AS Zero_IdentificationNumberofBelgium,\nZero.CodeSeperateApplication AS Zero_CodeSeperateApplication,\nZero.TransactionReferrence AS Zero_TransactionReferrence,\nZero.RelatedReferrence AS Zero_RelatedReferrence,\nOne.RegistrationID AS One_RegistrationId,\ncase One.BankAccountType\n     when '0' then 899240000\n     when '1' then 899240001\n     when '2' then 899240002\n     when '3' then 899240003\n     end AS One_BankAccountType,\nOne.Sequencenumberofpaperaccount AS One_Sequencenumberofpaperaccount,\nOne.Accountnumber AS One_Accountnumber,\ncase One.Oldbalance\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS One_Oldbalance,\nOne.Oldpay AS One_Oldpay,\nOne.Dateofoldbalance AS One_Dateofoldbalance,\nOne.Accountholdername AS One_Accountholdername,\nOne.Accounttagged AS One_Accounttagged,\nOne.Sequencenumberofthecodified AS One_Sequencenumberofthecodified,\nFour.RegistrationID AS Four_RegistrationID,\nFour.Textofthefreemessage AS Four_Textofthefreemessage,\nEight.RegistrationID AS Eight_RegistrationId,\nEight.Sequencenumber AS Eight_Sequencenumber,\nEight.Accountnumber AS Eight_Accountnumber,\ncase Eight.SignCode\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS Eight_SignCode,\nEight.NewBalance AS Eight_NewBalance ,\nEight.Dateofnewbalance AS Eight_Dateofnewbalance,\nNine.RegistrationID AS Nine_RegistrationId,\nNine.Numberofrecords AS Nine_Numberofrecords,\nNine.DebitRevenue AS Nine_DebitRevenue,\nNine.CreditSales AS Nine_CreditSales\nfrom [dbo].[CODA-0] Zero\nleft join [dbo].[CODA-1] One on 1=1 \nleft join [dbo].[CODA-4] Four on 1=1 \nleft join [dbo].[CODA-8] Eight on 1=1 \nleft join [dbo].[CODA-9] Nine on 1=1 ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_Duplicate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_Duplicate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_NameAddressee",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_NameAddressee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_TransactionReferrence",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_TransactionReferrence",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_RelatedReferrence",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RelatedReferrence",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "One_BankAccountType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "One_Oldbalance",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accounttagged",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accounttagged",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Four_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Four_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Four_Textofthefreemessage",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Four_Textofthefreemessage",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_SignCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Eight_SignCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAIntegration",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable_CODAJoin",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy CODA to CRM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SQL Join to CODA Integration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_codaid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_creation_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_bank_identification_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_application_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_Duplicate",
											"type": "String"
										},
										"sink": {
											"name": "bd_duplicate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String"
										},
										"sink": {
											"name": "bd_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_NameAddressee",
											"type": "String"
										},
										"sink": {
											"name": "bd_name_addressee",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String"
										},
										"sink": {
											"name": "bd_bic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String"
										},
										"sink": {
											"name": "bd_identification_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String"
										},
										"sink": {
											"name": "bd_code_seperate_application",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_TransactionReferrence",
											"type": "String"
										},
										"sink": {
											"name": "bd_transaction_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_RelatedReferrence",
											"type": "String"
										},
										"sink": {
											"name": "bd_related_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_account_structure",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_old_balance_sign",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_oldbalance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_old_balance_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String"
										},
										"sink": {
											"name": "bd_accountholder_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Accounttagged",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_coded_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Four_Textofthefreemessage",
											"type": "String"
										},
										"sink": {
											"name": "bd_freecommunication",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_Sequencenumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_number_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_SignCode",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_new_balance_sign",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_new_balance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_new_balance_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String"
										},
										"sink": {
											"name": "bd_number_of_records",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_debit_movement",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_credit_movement",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAEntity",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DynamicsCrm_TecDev_CODA",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy SQL Join to Payment Table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy CODA to CRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\nNEWID() AS GUID,\n'CODA' AS Data_Source,\nZero.FileReference AS Zero_FileReference,\nCODA.GUID AS CODA_Guid,\nTwoOne.RegistrationID AS TwoOne_RegistrationId,\nTwoOne.Sequencenumber AS TwoOne_Sequencenumber,\nTwoOne.Retailnumber AS TwoOne_Retailnumber,\nTwoOne.bankreferencenumber AS TwoOne_bankreferencenumber,\ncase TwoOne.Movementsign\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS TwoOne_Movementsign,\nTwoOne.Amount AS TwoOne_Amount,\nTwoOne.Valuedate AS TwoOne_Valuedate,\nTwoOne.OperationCode AS TwoOne_OperationCode,\ncase TwoOne.communicationtype\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS TwoOne_communicationtype,\nTwoOne.Communicationzone AS TwoOne_Communicationzone,\nTwoOne.Accountdate AS TwoOne_Accountdate,\nTwoOne.Sequencenumberofpaperaccount AS TwoOne_Sequencenumberofpaperaccount,\nTwoOne.Codeglobalization AS TwoOne_Codeglobalization,\nTwoTwo.RegistrationID AS TwoTwo_RegistrationId,\nTwoTwo.Communication AS TwoTwo_Communication,\nTwoTwo.Customerreference AS TwoTwo_Customerreference,\nTwoTwo.BIC AS TwoTwo_BIC,\ncase TwoTwo.Transactiontype\n     when '0' then 899240000\n     when '1' then 899240001\n\t when '2' then 899240002\n     when '3' then 899240003\n\t when '4' then 899240004\n     end AS TwoTwo_Transactiontype,\nTwoTwo.ISOCode AS TwoTwo_ISOCode,\nTwoTwo.CategoryPurpose AS TwoTwo_CategoryPurpose,\nTwoTwo.Purpose AS TwoTwo_Purpose,\nTwoThree.RegistrationID AS TwoThree_RegistrationId,\nTwoThree.Counterpartyaccountnumber AS TwoThree_Counterpartyaccountnumber,\nTwoThree.Nameofcounterparty AS TwoThree_Nameofcounterparty,\nTwoThree.Communication AS TwoThree_Communication,\nThreeOne.RegistrationID AS ThreeOne_RegistrationId,\nThreeOne.AdditionalInformation AS ThreeOne_AdditionalInformation,\nThreeOne.OperationCode AS ThreeOne_OperationCode,\ncase ThreeOne.CommunicationCode\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS ThreeOne_CommunicationCode,\nThreeOne.Communication AS ThreeOne_Communication,\nThreeTwo.RegistrationID AS ThreeTwo_RegistrationId,\nThreeTwo.Communication AS ThreeTwo_Communication,\nThreeThree.RegistrationID AS ThreeThree_RegistrationId,\nThreeThree.Communication AS ThreeThree_Communication \nfrom [dbo].[CODA-21] TwoOne\nleft join [dbo].[CODA-22] TwoTwo on TwoOne.[Sequencenumber] = TwoTwo.[Sequencenumber]\nleft join [dbo].[CODA-23] TwoThree on TwoOne.[Sequencenumber] = TwoThree.[Sequencenumber]\nleft join [dbo].[CODA-31] ThreeOne on TwoOne.[Sequencenumber] = ThreeOne.[Sequencenumber]\nleft join [dbo].[CODA-32] ThreeTwo on TwoOne.[Sequencenumber] = ThreeTwo.[Sequencenumber]\nleft join [dbo].[CODA-33] ThreeThree on TwoOne.[Sequencenumber] = ThreeThree.[Sequencenumber]\nleft join [dbo].[CODA-0]  Zero       on 1=1 \nleft join [dbo].[CODAIntegration]  CODA  on 1=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CODA_Guid",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CODA_Guid",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "TwoOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Retailnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Retailnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_bankreferencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_bankreferencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Movementsign",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TwoOne_Movementsign",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_communicationtype",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TwoOne_communicationtype",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TwoOne_Communicationzone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Communicationzone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Codeglobalization",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Codeglobalization",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Transactiontype",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TwoTwo_Transactiontype",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TwoTwo_ISOCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_ISOCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_CategoryPurpose",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_CategoryPurpose",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Purpose",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Purpose",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_AdditionalInformation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_AdditionalInformation",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_CommunicationCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ThreeOne_CommunicationCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ThreeOne_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Data_Source",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Data_Source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAIntegration",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable_PaymentJoin",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Payment To CRM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SQL Join to Payment Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_paymentid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String"
										},
										"sink": {
											"name": "bd_paymentreferenceidname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CODA_Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_paymentreferenceid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_continuous_sequence_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Retailnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_detail_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_bankreferencenumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_bank_reference_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Movementsign",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_movement_sign",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TwoOne_Amount",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_movement_amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_movement_value_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TwoOne_OperationCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_transaction_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_communicationtype",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_communication_type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TwoOne_Communicationzone",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_zone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_entry_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumberofpaperaccount",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Codeglobalization",
											"type": "String"
										},
										"sink": {
											"name": "bd_globalisation_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Customerreference",
											"type": "String"
										},
										"sink": {
											"name": "bd_customer_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_BIC",
											"type": "String"
										},
										"sink": {
											"name": "bd_movement_bic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Transactiontype",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_type_of_rtransaction",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TwoTwo_ISOCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_iso_reason_return_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_CategoryPurpose",
											"type": "String"
										},
										"sink": {
											"name": "bd_category_purpose",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Purpose",
											"type": "String"
										},
										"sink": {
											"name": "bd_purpose",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_counterpartys_account_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String"
										},
										"sink": {
											"name": "bd_counterpartys_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoThree_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_ctd",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeOne_AdditionalInformation",
											"type": "String"
										},
										"sink": {
											"name": "bd_bank_reference_number_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeOne_OperationCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_transaction_code_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeOne_CommunicationCode",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_communication_type_info",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ThreeOne_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_zone_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_ctd_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeThree_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_ctd_info_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Data_Source",
											"type": "String"
										},
										"sink": {
											"name": "bd_data_source",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_PaymentJoin",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DynamicsCrmEntity_Payment",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "CODA"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T17:37:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EIS779_CRM_TecDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy CSV to SQL Table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data to Merge CSV files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 50,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "Code_segment",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText_ADLS_ReadCSV",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_EIS779",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Send data to CRM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data_Using Joins",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP (10) [Code_segment]\n      ,[Poste_segment]\n      ,[Id_transaction]\n      ,[Num_serie]\n      ,[Id_entreprise]\n      ,[Id_paiement]\n      ,[Code_moyen_paiement]\n      ,[Sens_paiement]\n      ,[Montant]\n      ,[Type_equipement]\n      ,[Date_ope]\n      ,[Name]\n      ,[Guid]\n  FROM [dbo].[EIS779_atlas]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"parallelCopies": 50,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "tec_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Code_segment",
											"type": "String"
										},
										"sink": {
											"name": "tec_codesegment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sens_paiement",
											"type": "String"
										},
										"sink": {
											"name": "tec_senspaiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Num_serie",
											"type": "String"
										},
										"sink": {
											"name": "tec_numserie",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id_paiement",
											"type": "String"
										},
										"sink": {
											"name": "tec_idpaiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "tec_eis779atlasid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Code_moyen_paiement",
											"type": "String"
										},
										"sink": {
											"name": "tec_codemoyenpaiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Poste_segment",
											"type": "String"
										},
										"sink": {
											"name": "tec_postesegment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id_entreprise",
											"type": "String"
										},
										"sink": {
											"name": "tec_identreprise",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date_ope",
											"type": "DateTime"
										},
										"sink": {
											"name": "tec_dateope",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Id_transaction",
											"type": "String"
										},
										"sink": {
											"name": "tec_idtransaction",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type_equipement"
										},
										"sink": {
											"name": "tec_typeequipment"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "EIS779_SQL_CRM",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tecdevcrmconnection",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "dataflowusingsplittoSegments",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy CSV to SQL Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_EIS779_Segments_plit",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "Copy data_Using Joins",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dataflowusingsplittoSegments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "  SELECT Top(100)\n     E003.Code_segment\n    ,E003.Poste_segment\n    ,E003.Id_transaction\n    ,E001.Num_serie\n    ,E002.Id_entreprise\n    ,E003.Id_paiement\n    ,E003.Code_moyen_paiement\n    ,E003.Sens_paiement\n    ,E003.Montant\n    ,10 AS Type_Eqiupment\n    ,E001.Date_ope\n    ,E000.Plateforme\n\t,NEWID() AS Unique_Id\n  FROM [dbo].[EIS779_SEGMENT_001] E001\n  LEFT JOIN [dbo].[EIS779_SEGMENT_002] E002\n    ON E001.Id_transaction = E002.Id_transaction\n  JOIN [dbo].[EIS779_SEGMENT_003] E003\n    ON E001.Id_transaction = E003.Id_transaction\n  JOIN [dbo].[EIS779_SEGMENT_000] E000\n    ON E000.Code_segment = '000'\n  ORDER by E001.id_transaction",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 50,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code_segment",
											"type": "String"
										},
										"sink": {
											"name": "Code_segment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Poste_segment",
											"type": "String"
										},
										"sink": {
											"name": "Poste_segment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id_transaction",
											"type": "String"
										},
										"sink": {
											"name": "Id_transaction",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Num_serie",
											"type": "String"
										},
										"sink": {
											"name": "Num_serie",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id_entreprise",
											"type": "String"
										},
										"sink": {
											"name": "Id_entreprise",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id_paiement",
											"type": "String"
										},
										"sink": {
											"name": "Id_paiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Code_moyen_paiement",
											"type": "String"
										},
										"sink": {
											"name": "Code_moyen_paiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sens_paiement",
											"type": "String"
										},
										"sink": {
											"name": "Sens_paiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Montant",
											"type": "Double"
										},
										"sink": {
											"name": "Montant",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Type_Eqiupment",
											"type": "Int32"
										},
										"sink": {
											"name": "Type_equipement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date_ope",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date_ope",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Plateforme",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Unique_Id",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "EIS779_SQL_Join",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLEIS779ATLAS",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data to Merge CSV files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText_EIS779_Source_CSV",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText_EIS779_Target",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "EIS-779"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-10T18:35:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EIS779_CRM_TecDev_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy CSV to SQL Table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data to Merge CSV files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 50,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "Code_segment",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText_ADLS_ReadCSV",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_EIS779",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Send data to CRM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP (10) [Code_segment]\n      ,[Poste_segment]\n      ,[Id_transaction]\n      ,[Num_serie]\n      ,[Id_entreprise]\n      ,[Id_paiement]\n      ,[Code_moyen_paiement]\n      ,[Sens_paiement]\n      ,[Montant]\n      ,[Type_equipement]\n      ,[Date_ope]\n      ,[Name]\n      ,[Guid]\n  FROM [dbo].[EIS779_atlas]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"parallelCopies": 50,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "tec_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Code_segment",
											"type": "String"
										},
										"sink": {
											"name": "tec_codesegment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sens_paiement",
											"type": "String"
										},
										"sink": {
											"name": "tec_senspaiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Num_serie",
											"type": "String"
										},
										"sink": {
											"name": "tec_numserie",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id_paiement",
											"type": "String"
										},
										"sink": {
											"name": "tec_idpaiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "tec_eis779atlasid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Code_moyen_paiement",
											"type": "String"
										},
										"sink": {
											"name": "tec_codemoyenpaiement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Poste_segment",
											"type": "String"
										},
										"sink": {
											"name": "tec_postesegment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id_entreprise",
											"type": "String"
										},
										"sink": {
											"name": "tec_identreprise",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date_ope",
											"type": "DateTime"
										},
										"sink": {
											"name": "tec_dateope",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Id_transaction",
											"type": "String"
										},
										"sink": {
											"name": "tec_idtransaction",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type_equipement"
										},
										"sink": {
											"name": "tec_typeequipment"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "EIS779_SQL_CRM",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tecdevcrmconnection",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "dataflowusingsplittoSegments",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy CSV to SQL Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_EIS779_Segments_plit",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "Copy data to Merge CSV files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText_EIS779_Source_CSV",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText_EIS779_Target",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"folder": {
					"name": "EIS-779"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-10T18:35:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable16",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable17",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "source(output(\n\t\tCode_segment as string,\n\t\tPoste_segment as string,\n\t\tId_transaction as string,\n\t\tNum_serie as string,\n\t\tId_entreprise as string,\n\t\tId_paiement as string,\n\t\tCode_moyen_paiement as string,\n\t\tSens_paiement as string,\n\t\tMontant as double,\n\t\tType_equipement as integer,\n\t\tDate_ope as timestamp,\n\t\tName as string,\n\t\tGuid as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> source1\nsource1 split(length(Code_segment)<50,\n\tdisjoint: true) ~> ConditionalSplit1@(lengthcheck, goodrows)\nConditionalSplit1@lengthcheck derive(Date = currentDate(),\n\t\tSystem = \"Atlas\",\n\t\tFileName = \"Merge.csv\",\n\t\tSuccess = \"No\") ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tfile_name as string,\n\t\tsuccess as string,\n\t\tdate as date,\n\t\tsystem as string,\n\t\trecord_detail as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tfile_name = FileName,\n\t\tsuccess = Success,\n\t\tdate = Date,\n\t\tsystem = System,\n\t\trecord_detail = Guid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable16')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable17')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable16')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_PCRM",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Code_segment",
						"type": "nchar"
					},
					{
						"name": "Poste_segment",
						"type": "nchar"
					},
					{
						"name": "Id_transaction",
						"type": "nchar"
					},
					{
						"name": "Num_serie",
						"type": "nchar"
					},
					{
						"name": "Id_entreprise",
						"type": "nchar"
					},
					{
						"name": "Id_paiement",
						"type": "nchar"
					},
					{
						"name": "Code_moyen_paiement",
						"type": "nchar"
					},
					{
						"name": "Sens_paiement",
						"type": "varchar"
					},
					{
						"name": "Montant",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Type_equipement",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Date_ope",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Guid",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EIS779_atlas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable17')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_PCRM",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "file_name",
						"type": "nvarchar"
					},
					{
						"name": "success",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					},
					{
						"name": "system",
						"type": "nvarchar"
					},
					{
						"name": "record_detail",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EIS-779-Errors"
				}
			},
			"dependsOn": []
		}
	]
}