adfpcrmdev01/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpcrmdev01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SQLshapes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "shape_id",
						"type": "varchar"
					},
					{
						"name": "shape_pt_lat",
						"type": "varchar"
					},
					{
						"name": "shape_pt_lon",
						"type": "varchar"
					},
					{
						"name": "shape_pt_sequence",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Shapes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLstop_times')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Trip_id",
						"type": "varchar"
					},
					{
						"name": "Arrival_time",
						"type": "varchar"
					},
					{
						"name": "Departure_time",
						"type": "varchar"
					},
					{
						"name": "Stop_id",
						"type": "varchar"
					},
					{
						"name": "Stop_sequence",
						"type": "varchar"
					},
					{
						"name": "Pickup_type",
						"type": "varchar"
					},
					{
						"name": "Drop_off_type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Stop_Times"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLstops')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Stop_id",
						"type": "varchar"
					},
					{
						"name": "Stop_code",
						"type": "varchar"
					},
					{
						"name": "Stop_name",
						"type": "varchar"
					},
					{
						"name": "Stop_desc",
						"type": "varchar"
					},
					{
						"name": "Stop_lat",
						"type": "varchar"
					},
					{
						"name": "Stop_lon",
						"type": "varchar"
					},
					{
						"name": "Zone_id",
						"type": "varchar"
					},
					{
						"name": "Stop_url",
						"type": "varchar"
					},
					{
						"name": "Location_type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Stops"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLtrips')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Route_id",
						"type": "varchar"
					},
					{
						"name": "Service_id",
						"type": "varchar"
					},
					{
						"name": "Trip_id",
						"type": "varchar"
					},
					{
						"name": "Trip_short_name",
						"type": "varchar"
					},
					{
						"name": "Direction_id",
						"type": "varchar"
					},
					{
						"name": "Block_id",
						"type": "varchar"
					},
					{
						"name": "Shape_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Trips"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TECDevCRM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TecDevCRM",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DynamicsCrmEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "bd_lignes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UnzipFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "PocTecUnzip",
						"fileSystem": "poc-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZipFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "PocTecZip",
						"fileSystem": "poc-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/binary_CODAFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedService_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BelfiusCDA20200625_212325_582_OS1TMGH25F_235242590.COD",
						"folderPath": "CODA/Source",
						"fileSystem": "integrations-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/binary_CODAcsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedService_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "coda.csv",
						"folderPath": "CODA/CSV",
						"fileSystem": "integrations-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tecdevcrmconnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DynamicsCrm_TECDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DynamicsCrmEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "tec_eis779atlas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_productsCSV_ProductsFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "atlas/mnt020/csv/produits",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_MNT020_Zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "MNT020 - Liste des produits et articles _ 91966170.zip",
						"folderPath": "atlas/mnt020/zip",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_MNT020_Ziphistory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('MNT020 - Liste des produits et articles _ 91966170_',formatDateTime(convertFromUtc(utcnow(),'Romance Standard Time'), 'yyyy-MM-dd [hh:mm:ss tt]'),'.zip')",
							"type": "Expression"
						},
						"folderPath": "atlas/mnt020/zip/history",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_ProductsCSV_History')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Liste des produits.csv",
						"folderPath": "atlas/mnt020/csv/produits",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_Products_HistoryDateStamp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('Liste des produits_',formatDateTime(convertFromUtc(utcnow(),'Romance Standard Time'), 'yyyy-MM-dd [hh:mm:ss tt]'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "atlas/mnt020/csv/produits/history",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_Articles_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Liste des articles.csv",
						"folderPath": "atlas/mnt020/csv/source",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_Articvles_CSV_History')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Liste des articles.csv",
						"folderPath": "atlas/mnt020/csv/articles",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_Articles_CSV_History_Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('Liste des articles_',formatDateTime(convertFromUtc(utcnow(),'Romance Standard Time'), 'yyyy-MM-dd [hh:mm:ss tt]'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "atlas/mnt020/csv/articles/history",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Articles_CRM_TecDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package of Articles to CRM",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "Move Articles CSV to Articles folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "SSISPackagesTecDev/MNT020Products-Articles/ArticlestoCRM.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "integrationRuntime1",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "Move Articles CSV to Articles folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary_Articles_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_articlesCSV_ArticlesFolder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Move Articles CSV to history with Date Stamp",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Execute SSIS package of Articles to CRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary_Articvles_CSV_History",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_Articles_CSV_History_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "MNT020"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-01T20:34:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Binary_Articles_CSV')]",
				"[concat(variables('factoryId'), '/datasets/Binary_Articvles_CSV_History')]",
				"[concat(variables('factoryId'), '/datasets/Binary_Articles_CSV_History_Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CODAIntegration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy SQL Join to CODA Integration",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNine.RegistrationID AS Nine_RegistrationId,\nNine.Numberofrecords AS Nine_Numberofrecords,\nNine.DebitRevenue AS Nine_DebitRevenue,\nNine.CreditSales AS Nine_CreditSales,\nNine.Multiplefilecode AS Nine_Multiplefilecode,\nEight.RegistrationID AS Eight_RegistrationId,\nEight.Accountnumber AS Eight_Accountnumber,\nEight.NewBalance AS Eight_NewBalance ,\nEight.Dateofnewbalance AS Eight_Dateofnewbalance,\nOne.RegistrationID AS One_RegistrationId,\nOne.BankAccountType AS One_BankAccountType,\nOne.Sequencenumberofpaperaccount AS One_Sequencenumberofpaperaccount,\nOne.Accountnumber AS One_Accountnumber,\nOne.Oldbalance AS One_Oldbalance,\nOne.Oldpay AS One_Oldpay ,\nOne.Dateofoldbalance AS One_Dateofoldbalance,\nOne.Accountholdername AS One_Accountholdername,\nTwoOne.RegistrationID AS TwoOne_RegistrationId,\nTwoOne.Sequencenumber AS TwoOne_Sequencenumber,\nTwoOne.Amount AS TwoOne_Amount,\nTwoOne.Valuedate AS TwoOne_Valuedate,\nTwoOne.Accountdate AS TwoOne_Accountdate,\nTwoTwo.RegistrationID AS TwoTwo_RegistrationId,\nTwoTwo.Customerreference AS TwoTwo_Customerreference,\nTwoTwo.BIC AS TwoTwo_BIC,\nTwoTwo.Linkcode AS TwoTwo_Linkcode,\nTwoThree.RegistrationID AS TwoThree_RegistrationId,\nTwoThree.ArticleCode AS TwoThree_ArticleCode,\nTwoThree.Counterpartyaccountnumber AS TwoThree_Counterpartyaccountnumber,\nTwoThree.Nameofcounterparty AS TwoThree_Nameofcounterparty,\nTwoThree.SuiteCode AS TwoThree_SuiteCode,\nThreeOne.RegistrationID AS ThreeOne_RegistrationId,\nThreeOne.ArticleCode AS ThreeOne_ArticleCode,\nThreeOne.CommunicationCode AS ThreeOne_CommunicationCode,\nThreeOne.MoreCode AS ThreeOne_MoreCode,\nThreeTwo.RegistrationID AS ThreeTwo_RegistrationId,\nThreeTwo.Sequencenumber AS ThreeTwo_Sequencenumber ,\nThreeTwo.ArticleCode AS ThreeTwo_ArticleCode,\nThreeTwo.Communication AS ThreeTwo_Communication,\nZero.RecordIdentification AS Zero_RecordIdentification,\nZero.CreationDate AS Zero_CreationDate ,\nZero.BankIdentificationNumber AS Zero_BankIdentificationNumber,\nZero.ApplicationCode AS Zero_ApplicationCode,\nZero.BIC AS Zero_BIC,\nZero.IdentificationNumberofBelgium AS Zero_IdentificationNumberofBelgium\nfrom \n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-21]) TwoOne \nJoin\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-22]) TwoTwo on TwoOne.row_num = TwoTwo.row_num\nLeft OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-23]) TwoThree on TwoThree.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-31]) ThreeOne on ThreeOne.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-32]) ThreeTwo on ThreeTwo.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-33]) ThreeThree on ThreeThree.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-1]) One on One.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-8]) Eight on Eight.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-9]) Nine on Nine.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RecordIdentification) AS row_num FROM [dbo].[COD-0]) Zero on Zero.row_num = TwoTwo.row_num",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Nine_Multiplefilecode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_Multiplefilecode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_BankAccountType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Oldbalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Linkcode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Linkcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_SuiteCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_SuiteCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_CommunicationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_CommunicationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_MoreCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_MoreCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable14",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable15",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-03T17:26:08Z"
			},
			"dependsOn": []
		}
	]
}