adfpcrmdev01/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpcrmdev01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SQLshapes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "shape_id",
						"type": "varchar"
					},
					{
						"name": "shape_pt_lat",
						"type": "varchar"
					},
					{
						"name": "shape_pt_lon",
						"type": "varchar"
					},
					{
						"name": "shape_pt_sequence",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Shapes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLstop_times')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Trip_id",
						"type": "varchar"
					},
					{
						"name": "Arrival_time",
						"type": "varchar"
					},
					{
						"name": "Departure_time",
						"type": "varchar"
					},
					{
						"name": "Stop_id",
						"type": "varchar"
					},
					{
						"name": "Stop_sequence",
						"type": "varchar"
					},
					{
						"name": "Pickup_type",
						"type": "varchar"
					},
					{
						"name": "Drop_off_type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Stop_Times"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLstops')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Stop_id",
						"type": "varchar"
					},
					{
						"name": "Stop_code",
						"type": "varchar"
					},
					{
						"name": "Stop_name",
						"type": "varchar"
					},
					{
						"name": "Stop_desc",
						"type": "varchar"
					},
					{
						"name": "Stop_lat",
						"type": "varchar"
					},
					{
						"name": "Stop_lon",
						"type": "varchar"
					},
					{
						"name": "Zone_id",
						"type": "varchar"
					},
					{
						"name": "Stop_url",
						"type": "varchar"
					},
					{
						"name": "Location_type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Stops"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLtrips')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPocTec",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Route_id",
						"type": "varchar"
					},
					{
						"name": "Service_id",
						"type": "varchar"
					},
					{
						"name": "Trip_id",
						"type": "varchar"
					},
					{
						"name": "Trip_short_name",
						"type": "varchar"
					},
					{
						"name": "Direction_id",
						"type": "varchar"
					},
					{
						"name": "Block_id",
						"type": "varchar"
					},
					{
						"name": "Shape_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Trips"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TECDevCRM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TecDevCRM",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DynamicsCrmEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "bd_lignes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UnzipFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "PocTecUnzip",
						"fileSystem": "poc-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZipFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "PocTecZip",
						"fileSystem": "poc-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/binary_CODAFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedService_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BelfiusCDA20200625_212325_582_OS1TMGH25F_235242590.COD",
						"folderPath": "CODA/Source",
						"fileSystem": "integrations-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/binary_CODAcsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedService_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "coda.csv",
						"folderPath": "CODA/CSV",
						"fileSystem": "integrations-tec"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tecdevcrmconnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DynamicsCrm_TECDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DynamicsCrmEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "tec_eis779atlas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_productsCSV_ProductsFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedservice_ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "atlas/mnt020/csv/produits",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Articles_CRM_TecDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package of Articles to CRM",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "Move Articles CSV to Articles folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "SSISPackagesTecDev/MNT020Products-Articles/ArticlestoCRM.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "integrationRuntime1",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "Move Articles CSV to Articles folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFolderPath": "atlas/mnt020/csv/source",
									"wildcardFileName": "*articles.csv",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary_Products_Articles_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_articlesCSV_ArticlesFolder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete Articles CSV in Products folder",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Binary_Products_Articles_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					}
				],
				"folder": {
					"name": "MNT020"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-01T20:34:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CODAIntegration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy SQL Join to CODA Integration",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select \nNine.RegistrationID AS Nine_RegistrationId,\nNine.Numberofrecords AS Nine_Numberofrecords,\nNine.DebitRevenue AS Nine_DebitRevenue,\nNine.CreditSales AS Nine_CreditSales,\nNine.Multiplefilecode AS Nine_Multiplefilecode,\nEight.RegistrationID AS Eight_RegistrationId,\nEight.Accountnumber AS Eight_Accountnumber,\nEight.NewBalance AS Eight_NewBalance ,\nEight.Dateofnewbalance AS Eight_Dateofnewbalance,\nOne.RegistrationID AS One_RegistrationId,\nOne.BankAccountType AS One_BankAccountType,\nOne.Sequencenumberofpaperaccount AS One_Sequencenumberofpaperaccount,\nOne.Accountnumber AS One_Accountnumber,\nOne.Oldbalance AS One_Oldbalance,\nOne.Oldpay AS One_Oldpay ,\nOne.Dateofoldbalance AS One_Dateofoldbalance,\nOne.Accountholdername AS One_Accountholdername,\nTwoOne.RegistrationID AS TwoOne_RegistrationId,\nTwoOne.Sequencenumber AS TwoOne_Sequencenumber,\nTwoOne.Amount AS TwoOne_Amount,\nTwoOne.Valuedate AS TwoOne_Valuedate,\nTwoOne.Accountdate AS TwoOne_Accountdate,\nTwoTwo.RegistrationID AS TwoTwo_RegistrationId,\nTwoTwo.Customerreference AS TwoTwo_Customerreference,\nTwoTwo.BIC AS TwoTwo_BIC,\nTwoTwo.Linkcode AS TwoTwo_Linkcode,\nTwoThree.RegistrationID AS TwoThree_RegistrationId,\nTwoThree.ArticleCode AS TwoThree_ArticleCode,\nTwoThree.Counterpartyaccountnumber AS TwoThree_Counterpartyaccountnumber,\nTwoThree.Nameofcounterparty AS TwoThree_Nameofcounterparty,\nTwoThree.SuiteCode AS TwoThree_SuiteCode,\nThreeOne.RegistrationID AS ThreeOne_RegistrationId,\nThreeOne.ArticleCode AS ThreeOne_ArticleCode,\nThreeOne.CommunicationCode AS ThreeOne_CommunicationCode,\nThreeOne.MoreCode AS ThreeOne_MoreCode,\nThreeTwo.RegistrationID AS ThreeTwo_RegistrationId,\nThreeTwo.Sequencenumber AS ThreeTwo_Sequencenumber ,\nThreeTwo.ArticleCode AS ThreeTwo_ArticleCode,\nThreeTwo.Communication AS ThreeTwo_Communication,\nZero.RecordIdentification AS Zero_RecordIdentification,\nZero.CreationDate AS Zero_CreationDate ,\nZero.BankIdentificationNumber AS Zero_BankIdentificationNumber,\nZero.ApplicationCode AS Zero_ApplicationCode,\nZero.BIC AS Zero_BIC,\nZero.IdentificationNumberofBelgium AS Zero_IdentificationNumberofBelgium\nfrom \n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-21]) TwoOne \nJoin\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-22]) TwoTwo on TwoOne.row_num = TwoTwo.row_num\nLeft OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-23]) TwoThree on TwoThree.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-31]) ThreeOne on ThreeOne.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-32]) ThreeTwo on ThreeTwo.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-33]) ThreeThree on ThreeThree.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-1]) One on One.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-8]) Eight on Eight.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RegistrationID) AS row_num FROM [dbo].[COD-9]) Nine on Nine.row_num = TwoTwo.row_num\nLEFT OUTER Join\n(SELECT * , ROW_NUMBER() OVER (ORDER BY RecordIdentification) AS row_num FROM [dbo].[COD-0]) Zero on Zero.row_num = TwoTwo.row_num",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Nine_Multiplefilecode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_Multiplefilecode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_BankAccountType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Oldbalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Linkcode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Linkcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_SuiteCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThird_SuiteCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_CommunicationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_CommunicationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_MoreCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdOne_MoreCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_ArticleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThirdTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable14",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable15",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-03T17:26:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CODAIntegration_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy SQL Join to CODA Integration",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\nNEWID() AS GUID,\nZero.RecordIdentification AS Zero_RecordIdentification,\nZero.CreationDate AS Zero_CreationDate,\nZero.BankIdentificationNumber AS Zero_BankIdentificationNumber,\nZero.ApplicationCode AS Zero_ApplicationCode,\nZero.Duplicate AS Zero_Duplicate,\nZero.FileReference AS Zero_FileReference,\nZero.NameAddressee AS Zero_NameAddressee,\nZero.BIC AS Zero_BIC,\nZero.IdentificationNumberofBelgium AS Zero_IdentificationNumberofBelgium,\nZero.CodeSeperateApplication AS Zero_CodeSeperateApplication,\nZero.TransactionReferrence AS Zero_TransactionReferrence,\nZero.RelatedReferrence AS Zero_RelatedReferrence,\nOne.RegistrationID AS One_RegistrationId,\ncase One.BankAccountType\n     when '0' then 899240000\n     when '1' then 899240001\n     when '2' then 899240002\n     when '3' then 899240003\n     end AS One_BankAccountType,\nOne.Sequencenumberofpaperaccount AS One_Sequencenumberofpaperaccount,\nOne.Accountnumber AS One_Accountnumber,\ncase One.Oldbalance\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS One_Oldbalance,\nOne.Oldpay AS One_Oldpay,\nOne.Dateofoldbalance AS One_Dateofoldbalance,\nOne.Accountholdername AS One_Accountholdername,\nOne.Accounttagged AS One_Accounttagged,\nOne.Sequencenumberofthecodified AS One_Sequencenumberofthecodified,\nFour.RegistrationID AS Four_RegistrationID,\nFour.Textofthefreemessage AS Four_Textofthefreemessage,\nEight.RegistrationID AS Eight_RegistrationId,\nEight.Sequencenumber AS Eight_Sequencenumber,\nEight.Accountnumber AS Eight_Accountnumber,\ncase Eight.SignCode\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS Eight_SignCode,\nEight.NewBalance AS Eight_NewBalance ,\nEight.Dateofnewbalance AS Eight_Dateofnewbalance,\nNine.RegistrationID AS Nine_RegistrationId,\nNine.Numberofrecords AS Nine_Numberofrecords,\nNine.DebitRevenue AS Nine_DebitRevenue,\nNine.CreditSales AS Nine_CreditSales\nfrom [dbo].[COD-0] Zero\nleft join [dbo].[COD-1] One on 1=1 \nleft join [dbo].[COD-4] Four on 1=1 \nleft join [dbo].[COD-8] Eight on 1=1 \nleft join [dbo].[COD-9] Nine on 1=1 ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_Duplicate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_Duplicate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_NameAddressee",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_NameAddressee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_TransactionReferrence",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_TransactionReferrence",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_RelatedReferrence",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RelatedReferrence",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "One_BankAccountType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "One_Oldbalance",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accounttagged",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accounttagged",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Four_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Four_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Four_Textofthefreemessage",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Four_Textofthefreemessage",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_SignCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Eight_SignCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAIntegration",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable_CODAJoin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy CODA to CRM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SQL Join to CODA Integration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_codaid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_creation_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_bank_identification_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_application_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_Duplicate",
											"type": "String"
										},
										"sink": {
											"name": "bd_duplicate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String"
										},
										"sink": {
											"name": "bd_file_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_NameAddressee",
											"type": "String"
										},
										"sink": {
											"name": "bd_name_addressee",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String"
										},
										"sink": {
											"name": "bd_bic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String"
										},
										"sink": {
											"name": "bd_identification_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String"
										},
										"sink": {
											"name": "bd_code_seperate_application",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_TransactionReferrence",
											"type": "String"
										},
										"sink": {
											"name": "bd_transaction_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_RelatedReferrence",
											"type": "String"
										},
										"sink": {
											"name": "bd_related_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_account_structure",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_old_balance_sign",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_old_balance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_old_balance_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String"
										},
										"sink": {
											"name": "bd_accountholder_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Accounttagged",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_coded_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Four_Textofthefreemessage",
											"type": "String"
										},
										"sink": {
											"name": "bd_freecommunication",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_Sequencenumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_number_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_new_balance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_new_balance_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String"
										},
										"sink": {
											"name": "bd_number_of_records",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_debit_movement",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_credit_movement",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Eight_SignCode",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_new_balance_sign",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAEntity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DynamicsCrm_TecDev_CODA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-31T16:55:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CODAPaymentSQL_CRM_TecDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy SQL Join to Payment Table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\nNEWID() AS GUID,\n'CODA' AS Data_Source,\nZero.FileReference AS Zero_FileReference,\nCODA.GUID AS CODA_Guid,\nTwoOne.RegistrationID AS TwoOne_RegistrationId,\nTwoOne.Sequencenumber AS TwoOne_Sequencenumber,\nTwoOne.Retailnumber AS TwoOne_Retailnumber,\nTwoOne.bankreferencenumber AS TwoOne_bankreferencenumber,\ncase TwoOne.Movementsign\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS TwoOne_Movementsign,\nTwoOne.Amount AS TwoOne_Amount,\nTwoOne.Valuedate AS TwoOne_Valuedate,\nTwoOne.OperationCode AS TwoOne_OperationCode,\ncase TwoOne.communicationtype\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS TwoOne_communicationtype,\nTwoOne.Communicationzone AS TwoOne_Communicationzone,\nTwoOne.Accountdate AS TwoOne_Accountdate,\nTwoOne.Sequencenumberofpaperaccount AS TwoOne_Sequencenumberofpaperaccount,\nTwoOne.Codeglobalization AS TwoOne_Codeglobalization,\nTwoTwo.RegistrationID AS TwoTwo_RegistrationId,\nTwoTwo.Communication AS TwoTwo_Communication,\nTwoTwo.Customerreference AS TwoTwo_Customerreference,\nTwoTwo.BIC AS TwoTwo_BIC,\ncase TwoTwo.Transactiontype\n     when '0' then 899240000\n     when '1' then 899240001\n\t when '2' then 899240002\n     when '3' then 899240003\n\t when '4' then 899240004\n     end AS TwoTwo_Transactiontype,\nTwoTwo.ISOCode AS TwoTwo_ISOCode,\nTwoTwo.CategoryPurpose AS TwoTwo_CategoryPurpose,\nTwoTwo.Purpose AS TwoTwo_Purpose,\nTwoThree.RegistrationID AS TwoThree_RegistrationId,\nTwoThree.Counterpartyaccountnumber AS TwoThree_Counterpartyaccountnumber,\nTwoThree.Nameofcounterparty AS TwoThree_Nameofcounterparty,\nTwoThree.Communication AS TwoThree_Communication,\nThreeOne.RegistrationID AS ThreeOne_RegistrationId,\nThreeOne.AdditionalInformation AS ThreeOne_AdditionalInformation,\nThreeOne.OperationCode AS ThreeOne_OperationCode,\ncase ThreeOne.CommunicationCode\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS ThreeOne_CommunicationCode,\nThreeOne.Communication AS ThreeOne_Communication,\nThreeTwo.RegistrationID AS ThreeTwo_RegistrationId,\nThreeTwo.Communication AS ThreeTwo_Communication,\nThreeThree.RegistrationID AS ThreeThree_RegistrationId,\nThreeThree.Communication AS ThreeThree_Communication \nfrom [dbo].[CODA-21] TwoOne\nleft join [dbo].[CODA-22] TwoTwo on TwoOne.[Sequencenumber] = TwoTwo.[Sequencenumber]\nleft join [dbo].[CODA-23] TwoThree on TwoOne.[Sequencenumber] = TwoThree.[Sequencenumber]\nleft join [dbo].[CODA-31] ThreeOne on TwoOne.[Sequencenumber] = ThreeOne.[Sequencenumber]\nleft join [dbo].[CODA-32] ThreeTwo on TwoOne.[Sequencenumber] = ThreeTwo.[Sequencenumber]\nleft join [dbo].[CODA-33] ThreeThree on TwoOne.[Sequencenumber] = ThreeThree.[Sequencenumber]\nleft join [dbo].[CODA-0]  Zero       on 1=1 \nleft join [dbo].[CODAIntegration]  CODA  on 1=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CODA_Guid",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CODA_Guid",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "TwoOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Retailnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Retailnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_bankreferencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_bankreferencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Movementsign",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TwoOne_Movementsign",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "TwoOne_Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_communicationtype",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TwoOne_communicationtype",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TwoOne_Communicationzone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Communicationzone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoOne_Codeglobalization",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoOne_Codeglobalization",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Customerreference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Transactiontype",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TwoTwo_Transactiontype",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TwoTwo_ISOCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_ISOCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_CategoryPurpose",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_CategoryPurpose",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Purpose",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoTwo_Purpose",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TwoThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TwoThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_AdditionalInformation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_AdditionalInformation",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_OperationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeOne_CommunicationCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ThreeOne_CommunicationCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ThreeOne_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeOne_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeTwo_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeTwo_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeThree_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ThreeThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ThreeThree_Communication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Data_Source",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Data_Source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAIntegration",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable_PaymentJoin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Payment To CRM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SQL Join to Payment Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_paymentid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String"
										},
										"sink": {
											"name": "bd_paymentreferenceidname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CODA_Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_paymentreferenceid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_continuous_sequence_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Retailnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_detail_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_bankreferencenumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_bank_reference_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Movementsign",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_movement_sign",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TwoOne_Amount",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_movement_amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TwoOne_Valuedate",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_movement_value_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TwoOne_OperationCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_transaction_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_communicationtype",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_communication_type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TwoOne_Communicationzone",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_zone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Accountdate",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_entry_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TwoOne_Sequencenumberofpaperaccount",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoOne_Codeglobalization",
											"type": "String"
										},
										"sink": {
											"name": "bd_globalisation_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Customerreference",
											"type": "String"
										},
										"sink": {
											"name": "bd_customer_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_BIC",
											"type": "String"
										},
										"sink": {
											"name": "bd_movement_bic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Transactiontype",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_type_of_rtransaction",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TwoTwo_ISOCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_iso_reason_return_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_CategoryPurpose",
											"type": "String"
										},
										"sink": {
											"name": "bd_category_purpose",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoTwo_Purpose",
											"type": "String"
										},
										"sink": {
											"name": "bd_purpose",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoThree_Counterpartyaccountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_counterpartys_account_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoThree_Nameofcounterparty",
											"type": "String"
										},
										"sink": {
											"name": "bd_counterpartys_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TwoThree_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_ctd",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeOne_AdditionalInformation",
											"type": "String"
										},
										"sink": {
											"name": "bd_bank_reference_number_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeOne_OperationCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_transaction_code_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeOne_CommunicationCode",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_communication_type_info",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ThreeOne_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_zone_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeTwo_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_ctd_info",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ThreeThree_Communication",
											"type": "String"
										},
										"sink": {
											"name": "bd_communication_ctd_info_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Data_Source",
											"type": "String"
										},
										"sink": {
											"name": "bd_data_source",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_PaymentJoin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DynamicsCrmEntity_Payment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-06T17:18:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CODASQL_CRM_TecDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy SQL Join to CODA Integration",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select\nNEWID() AS GUID,\nZero.RecordIdentification AS Zero_RecordIdentification,\nZero.CreationDate AS Zero_CreationDate,\nZero.BankIdentificationNumber AS Zero_BankIdentificationNumber,\nZero.ApplicationCode AS Zero_ApplicationCode,\nZero.Duplicate AS Zero_Duplicate,\nZero.FileReference AS Zero_FileReference,\nZero.NameAddressee AS Zero_NameAddressee,\nZero.BIC AS Zero_BIC,\nZero.IdentificationNumberofBelgium AS Zero_IdentificationNumberofBelgium,\nZero.CodeSeperateApplication AS Zero_CodeSeperateApplication,\nZero.TransactionReferrence AS Zero_TransactionReferrence,\nZero.RelatedReferrence AS Zero_RelatedReferrence,\nOne.RegistrationID AS One_RegistrationId,\ncase One.BankAccountType\n     when '0' then 899240000\n     when '1' then 899240001\n     when '2' then 899240002\n     when '3' then 899240003\n     end AS One_BankAccountType,\nOne.Sequencenumberofpaperaccount AS One_Sequencenumberofpaperaccount,\nOne.Accountnumber AS One_Accountnumber,\ncase One.Oldbalance\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS One_Oldbalance,\nOne.Oldpay AS One_Oldpay,\nOne.Dateofoldbalance AS One_Dateofoldbalance,\nOne.Accountholdername AS One_Accountholdername,\nOne.Accounttagged AS One_Accounttagged,\nOne.Sequencenumberofthecodified AS One_Sequencenumberofthecodified,\nFour.RegistrationID AS Four_RegistrationID,\nFour.Textofthefreemessage AS Four_Textofthefreemessage,\nEight.RegistrationID AS Eight_RegistrationId,\nEight.Sequencenumber AS Eight_Sequencenumber,\nEight.Accountnumber AS Eight_Accountnumber,\ncase Eight.SignCode\n     when '0' then 899240000\n     when '1' then 899240001\n     end AS Eight_SignCode,\nEight.NewBalance AS Eight_NewBalance ,\nEight.Dateofnewbalance AS Eight_Dateofnewbalance,\nNine.RegistrationID AS Nine_RegistrationId,\nNine.Numberofrecords AS Nine_Numberofrecords,\nNine.DebitRevenue AS Nine_DebitRevenue,\nNine.CreditSales AS Nine_CreditSales\nfrom [dbo].[CODA-0] Zero\nleft join [dbo].[CODA-1] One on 1=1 \nleft join [dbo].[CODA-4] Four on 1=1 \nleft join [dbo].[CODA-8] Eight on 1=1 \nleft join [dbo].[CODA-9] Nine on 1=1 ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "GUID",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RecordIdentification",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Zero_CreationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_ApplicationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_Duplicate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_Duplicate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_FileReference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_NameAddressee",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_NameAddressee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_BIC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_TransactionReferrence",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_TransactionReferrence",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zero_RelatedReferrence",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zero_RelatedReferrence",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "One_BankAccountType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "One_Oldbalance",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "One_Oldpay",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accountholdername",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Accounttagged",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Accounttagged",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Four_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Four_RegistrationID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Four_Textofthefreemessage",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Four_Textofthefreemessage",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Sequencenumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Eight_Accountnumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Eight_SignCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Eight_SignCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Eight_NewBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_RegistrationId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nine_Numberofrecords",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Nine_CreditSales",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAIntegration",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable_CODAJoin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy CODA to CRM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy SQL Join to CODA Integration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUID",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_codaid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Zero_CreationDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_creation_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Zero_BankIdentificationNumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_bank_identification_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_ApplicationCode",
											"type": "String"
										},
										"sink": {
											"name": "bd_application_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_Duplicate",
											"type": "String"
										},
										"sink": {
											"name": "bd_duplicate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_FileReference",
											"type": "String"
										},
										"sink": {
											"name": "bd_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_NameAddressee",
											"type": "String"
										},
										"sink": {
											"name": "bd_name_addressee",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_BIC",
											"type": "String"
										},
										"sink": {
											"name": "bd_bic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_IdentificationNumberofBelgium",
											"type": "String"
										},
										"sink": {
											"name": "bd_identification_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_CodeSeperateApplication",
											"type": "String"
										},
										"sink": {
											"name": "bd_code_seperate_application",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_TransactionReferrence",
											"type": "String"
										},
										"sink": {
											"name": "bd_transaction_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zero_RelatedReferrence",
											"type": "String"
										},
										"sink": {
											"name": "bd_related_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_BankAccountType",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_account_structure",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofpaperaccount",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Accountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Oldbalance",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_old_balance_sign",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "One_Oldpay",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_oldbalance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "One_Dateofoldbalance",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_old_balance_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "One_Accountholdername",
											"type": "String"
										},
										"sink": {
											"name": "bd_accountholder_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Accounttagged",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "One_Sequencenumberofthecodified",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_coded_statement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Four_Textofthefreemessage",
											"type": "String"
										},
										"sink": {
											"name": "bd_freecommunication",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_Sequencenumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_sequence_number_statement_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_Accountnumber",
											"type": "String"
										},
										"sink": {
											"name": "bd_account_number_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eight_SignCode",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_new_balance_sign",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Eight_NewBalance",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_new_balance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Eight_Dateofnewbalance",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_new_balance_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Nine_Numberofrecords",
											"type": "String"
										},
										"sink": {
											"name": "bd_number_of_records",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Nine_DebitRevenue",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_debit_movement",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Nine_CreditSales",
											"type": "Decimal"
										},
										"sink": {
											"name": "bd_credit_movement",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable_CODAEntity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DynamicsCrm_TecDev_CODA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-06T17:01:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergeCSVfiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data to Merge CSV files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText_EIS779_Source_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText_EIS779_Target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-10T17:49:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Products_CRM_TecDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package Products",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "Move Products CSV to Products folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "SSISPackagesTecDev/MNT020Products-Articles/ProductstoCRM.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "integrationRuntime1",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "Unzip Products Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy zip files from SFTP to Data Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings",
										"preserveZipFileNameAsFolder": false
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary_ProductsZip_TecDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_ProducstsUnzip_tecdev",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy zip files from SFTP to Data Lake",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "SSISPackagesTecDev/SFTP-MNT020/SFTPTransfer.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "integrationRuntime1",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "Move Products CSV to Products folder",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Unzip Products Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFolderPath": "atlas/mnt020/csv/source",
									"wildcardFileName": "*products.csv",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary_Products_Articles_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_productsCSV_ProductsFolder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "MNT020"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-01T21:19:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Binary_productsCSV_ProductsFolder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Products_CRM_TecDev_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Move Articles CSV to Articles folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "MNT020"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-01T21:19:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLtoGTFS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyallSQLtablestoGTFS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "delete from GTFS\nSELECT TOP(10) Agencies.Agency_name,\n      10 AS Agency_id,\n      Agencies.Agency_url,\n      Agencies.Agency_timezone,\n      Agencies.Agency_lang,\n      Agencies.Agency_phone,\n\t  Route.Route_id,\n\t  Route.Route_short_name,\n\t  Route.Route_long_name,\n\t  Route.Route_desc,\n\t  10 AS Route_type,\n\t  Route.Route_url,\n\t  trip.Trip_id,\n\t  CONVERT(int, trip.Trip_short_name) AS Trip_short_name,\n\t  10 AS Direction_id,\n\t  trip.Block_id,\n\t  Cal.Service_id,\t  \n          case when Cal.Monday = '0' \n            then 0 \n            else 1 \n          end as Monday,   \n\t\t  case when Cal.Tuesday = '0' \n            then 0 \n            else 1 \n          end as Tuesday, \n\t\t  case when Cal.Wednesday = '0' \n            then 0 \n            else 1 \n          end as Wednesday, \n\t\t  case when Cal.Thursday = '0' \n            then 0 \n            else 1 \n          end as Thursday, \n\t\t case when Cal.Friday = '0' \n            then 0 \n            else 1 \n          end as Friday, \n\t\t  case when Cal.Saturday = '0' \n            then 0 \n            else 1 \n          end as Saturday, \n\t\t case when Cal.Sunday = '0' \n            then 0 \n            else 1 \n          end as Sunday, \n\t  Cal.Start_date,\n\t  Cal.End_date,\n\t  CalDate.Date,\n\t  10 AS Exception_type,\n\t  Shape.shape_id,\n\t  CONVERT(DOUBLE PRECISION, Shape.shape_pt_lat) AS shape_pt_lat,\n\t  CONVERT(DOUBLE PRECISION, Shape.shape_pt_lon) AS shape_pt_lon,\n\t  CONVERT(int, Shape.shape_pt_sequence) AS shape_pt_sequence,\n\t  NEWID() as GuId\n  FROM [Routes] Route\n  LEFT JOIN [Agency] Agencies\n    ON Route.Agency_id = Agencies.Agency_id\t\n\tJOIN [Trips] trip\n    ON Route.Route_id = trip.Route_id\n\tJOIN [CalendarUpdate] Cal\n    ON Cal.Service_id=trip.Service_id\n\tJOIN [calendar_dates_update] CalDate\n\t ON Cal.Service_id=CalDate.Service_id\n\tJOIN [Shapes] Shape\n    ON Shape.shape_id = trip.Shape_id\n  ORDER by Agencies.Agency_id",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GuId",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Agency_id",
											"type": "Int32"
										},
										"sink": {
											"name": "Agency_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Agency_name",
											"type": "String"
										},
										"sink": {
											"name": "Agency_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Agency_timezone",
											"type": "String"
										},
										"sink": {
											"name": "Agency_timezone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Agency_lang",
											"type": "String"
										},
										"sink": {
											"name": "Agency_lang",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Agency_phone",
											"type": "String"
										},
										"sink": {
											"name": "Agency_phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route_id",
											"type": "String"
										},
										"sink": {
											"name": "Route_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route_short_name",
											"type": "String"
										},
										"sink": {
											"name": "Route_short_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route_long_name",
											"type": "String"
										},
										"sink": {
											"name": "Route_long_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route_desc",
											"type": "String"
										},
										"sink": {
											"name": "Route_desc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route_type",
											"type": "Int32"
										},
										"sink": {
											"name": "Route_type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Route_url",
											"type": "String"
										},
										"sink": {
											"name": "Route_url",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Trip_id",
											"type": "String"
										},
										"sink": {
											"name": "Trip_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Trip_short_name",
											"type": "Int32"
										},
										"sink": {
											"name": "Trip_short_name",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Direction_id",
											"type": "Int32"
										},
										"sink": {
											"name": "Direction_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Block_id",
											"type": "String"
										},
										"sink": {
											"name": "Block_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Service_id",
											"type": "String"
										},
										"sink": {
											"name": "Service_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Monday",
											"type": "Int32"
										},
										"sink": {
											"name": "Monday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Tuesday",
											"type": "Int32"
										},
										"sink": {
											"name": "Tuesday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Wednesday",
											"type": "Int32"
										},
										"sink": {
											"name": "Wednesday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Thursday",
											"type": "Int32"
										},
										"sink": {
											"name": "Thursday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Friday",
											"type": "Int32"
										},
										"sink": {
											"name": "Friday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Saturday",
											"type": "Int32"
										},
										"sink": {
											"name": "Saturday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Sunday",
											"type": "Int32"
										},
										"sink": {
											"name": "Sunday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Start_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Start_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "End_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "End_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Exception_type",
											"type": "Int32"
										},
										"sink": {
											"name": "Exception_type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "shape_id",
											"type": "String"
										},
										"sink": {
											"name": "shape_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "shape_pt_lat",
											"type": "Double"
										},
										"sink": {
											"name": "shape_pt_lat",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "shape_pt_lon",
											"type": "Double"
										},
										"sink": {
											"name": "shape_pt_lon",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "shape_pt_sequence",
											"type": "Int32"
										},
										"sink": {
											"name": "shape_pt_sequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Agency_url",
											"type": "String"
										},
										"sink": {
											"name": "Agency_url",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SQLGTFSTableConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "GTFSSQLSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data from SQL to CRM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyallSQLtablestoGTFS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DynamicsCrmSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "bd_lignesid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Agency_id",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_agency_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Agency_name",
											"type": "String"
										},
										"sink": {
											"name": "bd_agency_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Agency_phone",
											"type": "String"
										},
										"sink": {
											"name": "bd_agency_phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Agency_url",
											"type": "String"
										},
										"sink": {
											"name": "bd_agency_url",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route_id",
											"type": "String"
										},
										"sink": {
											"name": "bd_route_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route_type",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_route_type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Route_url",
											"type": "String"
										},
										"sink": {
											"name": "bd_route_url",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Service_id",
											"type": "String"
										},
										"sink": {
											"name": "bd_services_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Thursday",
											"type": "Boolean"
										},
										"sink": {
											"name": "bd_thursday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Friday",
											"type": "Boolean"
										},
										"sink": {
											"name": "bd_friday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Saturday",
											"type": "Boolean"
										},
										"sink": {
											"name": "bd_saturday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Sunday",
											"type": "Boolean"
										},
										"sink": {
											"name": "bd_sunday",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Start_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_start_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "End_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "bd_end_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Exception_type",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_exception_type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "shape_id",
											"type": "String"
										},
										"sink": {
											"name": "bd_shape_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Direction_id",
											"type": "Int32"
										},
										"sink": {
											"name": "bd_direction_id",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "GTFSSQLSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TECDevCRM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-03T17:26:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TECDevCRM')]"
			]
		}
	]
}